<!-- ==================================hue philips========================================== -->
<a href="/device/GVDEV009" class="list-group-item">
	<div class="row-picture">
		<img class="circle" src="../assets/img_device/GVDEV009.png" alt="icon">
	</div>
	<div class="row-content">
		<h4 class="list-group-item-heading">Philips HUE</h4>
		<p class="list-group-item-text">Three lamps that light up in different colors depending on the commands sent</p>
	</div>
</a>
<div class="list-group-separator"></div>
<!-- ==================================multi display========================================== -->
<a href="/device/GVDEV004" class="list-group-item">
	<div class="row-picture">
		<img class="circle" src="../assets/img_device/GVDEV004.png" alt="icon">
	</div>
	<div class="row-content">
		<h4 class="list-group-item-heading">Multi Display</h4>
		<p class="list-group-item-text">Different monitors which allow the display of data and colors</p>
	</div>
</a>
<div class="list-group-separator"></div>
<!-- ==================================gloves========================================== -->
<a href="/device/GVDEV002" class="list-group-item">
	<div class="row-picture">
		<img class="circle" src="../assets/img_device/GVDEV002.png" alt="icon">
	</div>
	<div class="row-content">
		<h4 class="list-group-item-heading">Glove</h4>
		<p class="list-group-item-text">Glove consists of 5 flexion sensors</p>
	</div>
</a>
<div class="list-group-separator"></div>
<!-- ==================================robot hand========================================== -->
<a href="/device/GVDEV001" class="list-group-item">
	<div class="row-picture">
		<img class="circle" src="../assets/img_device/GVDEV001.png" alt="icon">
	</div>
	<div class="row-content">
		<h4 class="list-group-item-heading">Robot Hand</h4>
		<p class="list-group-item-text">Robotic hand consists of 5 servo that allow the movement of the fingers</p>
	</div>
</a>
<div class="list-group-separator"></div>
<!-- ==================================multi sensor========================================== -->
<a href="/device/GVDEV003" class="list-group-item">
	<div class="row-picture">
		<img class="circle" src="../assets/img_device/GVDEV003.png" alt="icon">
	</div>
	<div class="row-content">
		<h4 class="list-group-item-heading">Multi sensor</h4>
		<p class="list-group-item-text">Sliders, buttons, sensor distance, rotary encoder, potentiometer</p>
	</div>
</a>
<div class="list-group-separator"></div>
<!-- ==================================color picker========================================== -->
<a href="/device/GVDEV005" class="list-group-item">
	<div class="row-picture">
		<img class="circle" src="../assets/img_device/GVDEV005.png" alt="icon">
	</div>
	<div class="row-content">
		<h4 class="list-group-item-heading">Color Picker</h4>
		<p class="list-group-item-text">Polychromatic disc clickable to retrieve the color touched</p>
	</div>
</a>
<div class="list-group-separator"></div>
<!-- ==================================7 Segment controller========================================== -->
<a href="/device/GVDEV006" class="list-group-item">
	<div class="row-picture">
		<img class="circle" src="../assets/img_device/GVDEV006.png" alt="icon">
	</div>
	<div class="row-content">
		<h4 class="list-group-item-heading">Controller 7 Segment</h4>
		<p class="list-group-item-text">Four segments which can be scrolled</p>
	</div>
</a>
<div class="list-group-separator"></div>