/*** Start custom css ***/
$blue: #2e6da4;
$red: #d9534f;
$green: #238650;

html, body{
	width:100%;
	height:100%;
}

.data_wrap > *{
	display:block;
	text-align:center;
}

.data_wrap i{
	font-size:150%;
}

.top{
	height:65%;
	overflow: hidden;
}

.bottom{
	height:35%;
	overflow: hidden;
}

#danger_data_wrap{
	font-size:1.6rem;
}

#rest_time_wrap{
	width:100%;
	height:100%;
	position: absolute;
	z-index: 10;
	background-color: rgba(0,0,0, 0.7);
	text-align:center;
	h1{
		margin-top:400px;
		color:#fff;
	}
}
#button_wrap{
	position: absolute;
	z-index:100;
	margin-top:-50px;
}

#historical_data_table_wrap{
	color:$blue;
	tbody{
		color:#000000;
	}
}

#danger_data_table_wrap{
	color:$red;
	tbody{
		color:#000000;
	}
	img{
		width:60%;
	}
}

#danger_data_wrap .panel{
	border-color:$red;
	.panel-heading{
		background-color:$red;
		color:#ffffff;
	}
	img{
		width:100%;
	}
}

#noDanger_data_wrap .panel{
	border-color:$green;
	.panel-heading{
		background-color:$green;
		color:#ffffff;
	}
	img{
		width:90%;
		margin:0 auto;
		display: block;
	}
}